@model Practica2AG420250325.AppMVCCore.Models.Marca

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Marca</h4>
<hr />
<form asp-action="Create" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="Nombre" class="control-label"></label>
            <input asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-4">
            <label for="file" class="control-label">Imagen</label>
            <input type="file" id="imageFile" name="file" class="form-control" accept="image/*" />
        </div>
        <div class="col-4">
            <div id="preview" style="display: none;">
                <img id="imagePreview" src="#" alt="Vista previa de la imagen" style="max-width: 200px; max-height: 200px;">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
   
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
    document.getElementById('imageFile').addEventListener('change', function (event) {
        const file = event.target.files[0];
        const preview = document.getElementById('preview');
        const imagePreview = document.getElementById('imagePreview');

        if (file) {
            const fileReader = new FileReader();

            fileReader.onload = function (e) {
                imagePreview.src = e.target.result;
                preview.style.display = 'block';
            };

            fileReader.readAsDataURL(file);
        } else {
            imagenPrevia.src = '#';
            preview.style.display = 'none';
        }
    });
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
