@model Practica2AG420250325.AppMVCCore.Models.Marca

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Marca</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagenBytes)
        </dt>
        <dd class = "col-sm-10">
            @if (Model.ImagenBytes != null && Model.ImagenBytes.Length > 0)
            {
                string base64Image = Convert.ToBase64String(Model.ImagenBytes);
                string imageUrl = $"data:image/png;base64,{base64Image}";
                <img src="@imageUrl" alt="Imagen" style="max-width: 75px; max-height: 200px;" />
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
